@using Walk.Common.RazorLib
@using Walk.Common.RazorLib.Panels.Displays
@using Walk.Common.RazorLib.Panels.Models
@using Walk.Common.RazorLib.Resizes.Displays
@using Walk.Common.RazorLib.Dimensions.Models
@using Walk.Common.RazorLib.Dropdowns.Displays
@using Walk.Common.RazorLib.Dropdowns.Models
@using Walk.Common.RazorLib.Installations.Models
@using Walk.Common.RazorLib.Menus.Displays
@using Walk.Ide.RazorLib.Editors.Displays
@using Walk.Ide.RazorLib.Shareds.Displays.Internals
@using Walk.Ide.RazorLib.Settings.Displays
@using Walk.Ide.RazorLib.Shareds.Models

@using Walk.Common.RazorLib.Dialogs.Displays
@using Walk.Common.RazorLib.Widgets.Displays
@using Walk.Common.RazorLib.Notifications.Displays
@using Walk.Common.RazorLib.OutOfBoundsClicks.Displays
@using Walk.Common.RazorLib.Dropdowns.Displays

@inherits LayoutComponentBase

@{
    CreateCssStrings();
}

@* ContextRecord="ContextFacts.GlobalContext" *@

<div id="@CommonFacts.RootHtmlElementId" class="@_classCssString" style="@_styleCssString">
    <Walk.Common.RazorLib.Drags.Displays.DragInitializer />
    
    <div id="@_measureLineHeightElementId"
         class="di_measure-line-height-wrapper"
         style="@_lineHeightCssStyle">
        0
    </div>
    
    @{ var dialogList = CommonService.GetDialogState().DialogList; }
    @foreach (var dialog in dialogList)
    {
        <DialogDisplay @key="dialog.DynamicViewModelKey" 
                       Dialog="dialog"/>
    }
    
    
    @{ var widgetState = CommonService.GetWidgetState(); }
    @if (widgetState.Widget is not null)
    {
    	<OutOfBoundsClickDisplay ZIndex="12"
    	                         OnMouseDownCallback="WIDGET_RemoveWidget" />
    }
    @if (widgetState.Widget is not null)
    {
    	<WidgetDisplay @key="widgetState.Widget.Key"
    				   Widget="widgetState.Widget"/>
    }
    
    
    @{ var notificationState = CommonService.GetNotificationState(); }
    @for (int i = 0; i < notificationState.DefaultList.Count; i++)
    {
        var index = i;
        var notification = notificationState.DefaultList[index];
        
        <NotificationDisplay @key="notification.DynamicViewModelKey" 
                             Notification="notification"
                             Index="index"/>
    }
    
    
    @{ var dropdownState = CommonService.GetDropdownState(); }
    @if (dropdownState.DropdownList.Count > 0 && dropdownState.DropdownList.Any(x => x.ShouldShowOutOfBoundsClickDisplay))
    {
    	<OutOfBoundsClickDisplay ZIndex="15"
    	                         OnMouseDownCallback="DROPDOWN_ClearActiveKeyList" />
    }
    @foreach (var dropdown in dropdownState.DropdownList)
    {
    	<DropdownDisplay @key="dropdown.Key"
    					 Dropdown="dropdown"/>
    }
    
    
    @{ var localOutlineState = CommonService.GetOutlineState(); }
    @if (localOutlineState.MeasuredHtmlElementDimensions is not null)
    {
    	<div class="di_outline di_outline-left"
    		 style="@OUTLINE_GetStyleCssLeft(localOutlineState)">
    	</div>
    	
    	<div class="di_outline di_outline-right"
    		 style="@OUTLINE_GetStyleCssRight(localOutlineState)">
    	</div>
    	
    	<div class="di_outline di_outline-top"
    		 style="@OUTLINE_GetStyleCssTop(localOutlineState)">
    	</div>
    	
    	<div class="di_outline di_outline-bottom"
    		 style="@OUTLINE_GetStyleCssBottom(localOutlineState)">
    	</div>
    }
    
    
    <div class="di_tooltip-initializer"></div>
    @{
        var tooltipModel = CommonService.GetTooltipState().TooltipModel;
        
        if (tooltipModel is not null)
    	{
    		var x = tooltipModel.X;
    		var y = tooltipModel.Y;
    	
    		if (Math.Abs(ValueTooltipRelativeX - x) >= 0.1)
    		{
    			ValueTooltipRelativeX = x;
    			TooltipRelativeX = x.ToString(System.Globalization.CultureInfo.InvariantCulture);
    		}
    	
    		if (Math.Abs(ValueTooltipRelativeY - y) >= 0.1)
    		{
    			ValueTooltipRelativeY = y;
    			TooltipRelativeY = y.ToString(System.Globalization.CultureInfo.InvariantCulture);
    		}
    	}
    }
    @if (tooltipModel is not null)
    {
        <div class="di_te_tooltip di_set-selectable @(tooltipModel.CssClassString ?? string.Empty)"
             style="left: @(TooltipRelativeX)px; top: @(TooltipRelativeY)px;"
             id="@CommonService.Tooltip_HtmlElementId"
             @onmouseover="tooltipModel.OnMouseOver"
             @onmousedown:stopPropagation="true"
             @onwheel="x => tooltipModel.OnWheel?.Invoke(tooltipModel, x) ?? Task.CompletedTask"
             @onmousemove:stopPropagation="true"
             @ondblclick:stopPropagation="true"
             @onclick:stopPropagation="true"
             @oncontextmenu:stopPropagation="true">
    
            @if (tooltipModel.RendererType is null)
            {
                <text>tooltipModel.RendererType is null</text>
            }
            else
            {
                <DynamicComponent Type="tooltipModel.RendererType"
                                  Parameters="tooltipModel.ParameterMap" />
            }
        </div>
    }

    
    <div class="@_wrapperCssClass"
    	 style="@_wrapperCssStyle">
    	<div class="di_te_measure-character-width-and-line-height-wrapper di_te_row">
    	    <div class="di_te_measure-character-width-and-line-height di_te_row"
    	         id="@_measureCharacterWidthAndLineHeightElementId">
    	
    	        @for (var i = 0; i < TEST_STRING_REPEAT_COUNT; i++)
    	        {
    	            <text>
    	                @TEST_STRING_FOR_MEASUREMENT
    	            </text>
    	        }
    	    </div>
    	</div>
    </div>

    @* Start Header *@
    @* ContextRecord="ContextFacts.MainLayoutHeaderContext" *@
    <div class="di_ide_header" style="@_headerCssStyle">
        <div class="di_ide_header-left-content"
             style="display: flex;">
            
            @* Start SettingsDialogEntryPoint *@
            <button class="di_button"
                    @onclick="async () => DispatchRegisterDialogRecordAction()">
                    
                @{
                	var appOptionsState = IdeService.CommonService.GetAppOptionsState();
                
                	var iconDriver = new IconDriver(
            			appOptionsState.Options.IconSizeInPixels,
            			appOptionsState.Options.IconSizeInPixels);
                }
                @IconSettingsGearFragment.Render(iconDriver)
            </button>
            @* End SettingsDialogEntryPoint *@
    
            <button @onclick="RenderFileDropdownOnClick"
    			    id="@IdeState.ButtonFileId"
                    class="di_button"
                    style="margin-left: 15px;">
                <u>F</u>ile
            </button>
    
    		<button @onclick="RenderToolsDropdownOnClick"
    			    id="@IdeState.ButtonToolsId"
                    class="di_button"
                    style="margin-left: 15px;">
                <u>T</u>ools
            </button>
    
    		<button @onclick="RenderViewDropdownOnClick"
    			    id="@IdeState.ButtonViewId"
                    class="di_button"
                    style="margin-left: 15px;">
    			<u>V</u>iew
             </button>
    
    		<button @onclick="RenderRunDropdownOnClick"
    			    id="@IdeState.ButtonRunId"
    				class="di_button"
                    style="margin-left: 15px;">
                <u>R</u>un
            </button>
    
            <button class="di_button"
                    style="margin-left: 15px;"
                    @onclick="OpenInfoDialogOnClick">
                Info
            </button>
    
            <Walk.Ide.RazorLib.Shareds.Displays.StartupControlDisplay/>
        </div>
    </div>
    @* End Header *@
    
    @* Start Body *@
    @{ var panelState = IdeService.CommonService.GetPanelState(); }
    
    <div class="di_ide_body"
         style="@_bodyElementDimensions.GetStyleString(IdeService.CommonService.UiStringBuilder)">
    
        <PanelGroupDisplay PanelGroupParameter="_leftPanelGroupParameter"/>
    
        <ResizableColumn ResizableColumnParameter="_topLeftResizableColumnParameter" />
    
        <EditorDisplay EditorElementDimensions="_editorElementDimensions" />
        
        <ResizableColumn ResizableColumnParameter="_topRightResizableColumnParameter" />
    
        <PanelGroupDisplay PanelGroupParameter="_rightPanelGroupParameter"/>
    </div>
    @* End Body *@

    <ResizableRow ResizableRowParameter="_resizableRowParameter" />
    
    <PanelGroupDisplay PanelGroupParameter="_bottomPanelGroupParameter"/>

    @if (_ctrlIsDown)
    {
        var dialogState = DotNetService.CommonService.GetDialogState();
        
        var textEditorGroup = DotNetService.TextEditorService.Group_GetOrDefault(Walk.Ide.RazorLib.IdeService.EditorTextEditorGroupKey);
    
        <div style="display: flex; z-index: 99; position: fixed; left: 20vw; top: 20vh; width: 60vw; height: 60vh; color: var(--di_secondary-foreground-color); background-color: var(--di_secondary-background-color);">
            <div>
                <h2>Dialogs</h2>
                @for (int i = 0; i < dialogState.DialogList.Count; i++)
                {
                    var dialog = dialogState.DialogList[i];
                    
                    string cssClass;
                    
                    if (_ctrlTabKind == CtrlTabKind.Dialogs && _index == i)
                    {
                        cssClass = "di_config_ctrl-tab-entry di_active";
                    }
                    else
                    {
                        cssClass = "di_config_ctrl-tab-entry";
                    }
                    
                    <div class="@cssClass">@dialog.Title</div>
                }
            </div>
            
            <div style="margin-left: 10px; border-left: 1px solid var(--di_primary-border-color);">
                <h2>TextEditors</h2>
                @if (textEditorGroup is not null)
                {
                    for (int i = 0; i < textEditorGroup.ViewModelKeyList.Count; i++)
                    {
                        var viewModelKey = textEditorGroup.ViewModelKeyList[i];
                        var viewModel = DotNetService.TextEditorService.ViewModel_GetOrDefault(viewModelKey);
                        
                        if (viewModel is not null)
                        {
                            string cssClass;
                            
                            if (_ctrlTabKind == CtrlTabKind.TextEditors && _index == i)
                            {
                                cssClass = "di_config_ctrl-tab-entry di_active";
                            }
                            else
                            {
                                cssClass = "di_config_ctrl-tab-entry";
                            }
                        
                            <div class="@cssClass">@viewModel.PersistentState.Title</div>
                        }
                    }
                }
            </div>
        </div>
    }
</div>
