@using Walk.Common.RazorLib
@using Walk.Common.RazorLib.Panels.Models
@using Walk.Common.RazorLib.Dimensions.Models
@using Walk.Common.RazorLib.Dropdowns.Displays
@using Walk.Common.RazorLib.Dropdowns.Models
@using Walk.Common.RazorLib.Installations.Models
@using Walk.Common.RazorLib.Menus.Displays
@using Walk.Ide.RazorLib.Editors.Displays
@using Walk.Ide.RazorLib.Shareds.Displays.Internals
@using Walk.Ide.RazorLib.Settings.Displays
@using Walk.Ide.RazorLib.Shareds.Models
@using Walk.Common.RazorLib.Dialogs.Displays
@using Walk.Common.RazorLib.Widgets.Displays
@using Walk.Common.RazorLib.Notifications.Displays
@using Walk.Common.RazorLib.OutOfBoundsClicks.Displays
@using Walk.Common.RazorLib.Dropdowns.Displays
@using Walk.Common.RazorLib.Panels.Models;
@using Walk.Common.RazorLib.Tabs.Displays;
@using Walk.Common.RazorLib.Badges.Displays;
@using Walk.Common.RazorLib.Notifications.Models;

@inherits LayoutComponentBase

@{
    CreateCssStrings();
}

@* ContextRecord="ContextFacts.GlobalContext" *@

<div id="@CommonFacts.RootHtmlElementId" class="@_classCssString" style="@_styleCssString">
    
    <CommonUiIsland/>
    
    @{
        var panelState = DotNetService.CommonService.GetPanelState();
        
        PanelGroup leftPanelGroup = panelState.TopLeftPanelGroup;
        PanelGroup rightPanelGroup = panelState.TopRightPanelGroup;
        PanelGroup bottomPanelGroup = panelState.BottomPanelGroup;
    
    	var appOptionsState = DotNetService.CommonService.GetAppOptionsState();
    	var iconDriver = new IconDriver(
    		appOptionsState.Options.IconSizeInPixels,
    		appOptionsState.Options.IconSizeInPixels);
        
        PassAlongSizeIfNoActiveTab(_leftPanelGroupParameter, leftPanelGroup);
        PassAlongSizeIfNoActiveTab(_rightPanelGroupParameter, rightPanelGroup);
        PassAlongSizeIfNoActiveTab(_bottomPanelGroupParameter, bottomPanelGroup);
    }

    @* Start Header *@
    @* ContextRecord="ContextFacts.MainLayoutHeaderContext" *@
    <div class="di_header" style="@_headerCssStyle">
        <div class="di_header-left-content">
            
            @* Start SettingsDialogEntryPoint *@
            <button class="di_button"
                    style="margin-left: 0;"
                    @onclick="async () => InitializationHelper.DispatchRegisterDialogRecordAction(DotNetService, _dialogRecord)">
                    
                @IconSettingsGearFragment.Render(iconDriver)
            </button>
            @* End SettingsDialogEntryPoint *@
    
            <button @onclick="RenderFileDropdownOnClick"
    			    id="@IdeState.ButtonFileId"
                    class="di_button">
                <u>F</u>ile
            </button>
    
    		<button @onclick="RenderToolsDropdownOnClick"
    			    id="@IdeState.ButtonToolsId"
                    class="di_button">
                <u>T</u>ools
            </button>
    
    		<button @onclick="RenderViewDropdownOnClick"
    			    id="@IdeState.ButtonViewId"
                    class="di_button">
    			<u>V</u>iew
             </button>
    
    		<button @onclick="RenderRunDropdownOnClick"
    			    id="@IdeState.ButtonRunId"
    				class="di_button">
                <u>R</u>un
            </button>
    
            <button class="di_button"
                    @onclick="OpenInfoDialogOnClick">
                Info
            </button>
    
            <Walk.Ide.RazorLib.Shareds.Displays.StartupControlDisplay/>
        </div>
    </div>
    @* End Header *@
    
    @* Start Body *@
    <div class="di_body"
         style="@_bodyElementDimensions.GetStyleString(DotNetService.CommonService.UiStringBuilder)">
    
        <div class="@GetPanelElementCssClass(_leftPanelGroupParameter.PanelPositionCss, _leftPanelGroupParameter.CssClassString)"
             style="@GetElementDimensionsStyleString(leftPanelGroup)"
        	 id="@_leftPanelGroupParameter.PanelPositionCss">
            
            <div class="di_panel-tabs"
        		 id="@_leftPanelGroupParameter.HtmlIdTabs">
        
                @{
        			var tabList = GetTabList(leftPanelGroup);
        			
                    _tabCascadingValueBatch.CommonService = DotNetService.CommonService;
                	_tabCascadingValueBatch.HandleTabButtonOnContextMenu = null;
        			
        			foreach (var panelTab in tabList)
                    {
                        var Tab = panelTab;
                        var localTabViewModel = panelTab;
        				var ShouldDisplayCloseButton = false;
                    
                        @if (_tabCascadingValueBatch is not null)
                        {
                        	var localTabGroup = localTabViewModel.TabGroup;
                        	
                        	// localTabGroup can be null here
                        	
                            <button class="@GetCssClass(localTabGroup, localTabViewModel)"
                                    title="@localTabViewModel.TitleVerbose"
                            		@key="panelTab.Key"
                            		@onclick="e => OnClick(localTabViewModel, e)"
                                    @onmousedown="e => HandleOnMouseDownAsync(localTabViewModel, e)"
                                    @onmouseup="HandleOnMouseUp"
                                    @onmouseout="e => HandleOnMouseOutAsync(localTabViewModel, e)"
                            		@oncontextmenu:preventDefault="true"
                            		@oncontextmenu="e => ManuallyPropagateOnContextMenu(e, localTabViewModel)">
                            
                            	<span class="di_dynamic-tab-text">@localTabViewModel.Title</span>
                            
                            	@if (ShouldDisplayCloseButton)
                            	{
                            		<button class="di_button di_button-close"
                            	            @onclick:stopPropagation="true"
                            	            @onclick="() => CloseTabOnClickAsync(localTabViewModel)">
                            	        @IconCloseFragment.Render(iconDriver)
                                	</button>
                            	}
                            </button>
                        }
                    }
                }
        
                @if (panelState.DragEventArgs is not null)
                {
                    <div class="di_ide_panel-tab-dropzone di_ide_panel-tab-dropzone-top"
                         @onmouseup:stopPropagation="true"
                         @onmouseup="e => TopDropzoneOnMouseUp(_leftPanelGroupParameter.PanelGroupKey, e)">
                    </div>
                    
                    <div class="di_ide_panel-tab-dropzone di_ide_panel-tab-dropzone-bottom"
                         @onmouseup:stopPropagation="true"
                         @onmouseup="e => BottomDropzoneOnMouseUp(_leftPanelGroupParameter.PanelGroupKey, e)">
                    </div>
                }
            </div>
            
            <div class="di_ide_panel-body">
                @if (leftPanelGroup.ActiveTab is not null)
                {
                    if (leftPanelGroup.ActiveTab.ComponentType == typeof(Walk.Extensions.DotNet.DotNetSolutions.Displays.SolutionExplorerDisplay))
                    {
                        <Walk.Extensions.DotNet.DotNetSolutions.Displays.SolutionExplorerDisplay/>
                    }
                    else if (leftPanelGroup.ActiveTab.ComponentType == typeof(Walk.Ide.RazorLib.FolderExplorers.Displays.FolderExplorerDisplay))
                    {
                        <Walk.Ide.RazorLib.FolderExplorers.Displays.FolderExplorerDisplay/>
                    }
                    else if (leftPanelGroup.ActiveTab.ComponentType == typeof(Walk.Ide.RazorLib.Terminals.Displays.TerminalGroupDisplay))
                    {
                        <Walk.Ide.RazorLib.Terminals.Displays.TerminalGroupDisplay/>
                    }
                    else if (leftPanelGroup.ActiveTab.ComponentType == typeof(Walk.Extensions.DotNet.Outputs.Displays.OutputPanelDisplay))
                    {
                        <Walk.Extensions.DotNet.Outputs.Displays.OutputPanelDisplay/>
                    }
                    else
                    {
                        <DynamicComponent Type="leftPanelGroup.ActiveTab.ComponentType"
                                          Parameters="leftPanelGroup.ActiveTab.ComponentParameterMap" />
                    }
                }
            </div>
        </div>
    
        <div class="di_resize-column"
             style="@DotNetService.CommonService.Options_ResizeHandleCssWidth"
             @onmousedown="() => SubscribeToDragEvent(MainLayoutDragEventKind.TopLeftResizeColumn)">
        </div>
    
        <EditorDisplay EditorElementDimensions="_editorElementDimensions" />
        
        <div class="di_resize-column"
             style="@DotNetService.CommonService.Options_ResizeHandleCssWidth"
             @onmousedown="() => SubscribeToDragEvent(MainLayoutDragEventKind.TopRightResizeColumn)">
        </div>
    
        <div class="@GetPanelElementCssClass(_rightPanelGroupParameter.PanelPositionCss, _rightPanelGroupParameter.CssClassString)"
             style="@GetElementDimensionsStyleString(rightPanelGroup)"
        	 id="@_rightPanelGroupParameter.PanelPositionCss">
            
            <div class="di_panel-tabs"
        		 id="@_rightPanelGroupParameter.HtmlIdTabs">
        
                @{
        			tabList = GetTabList(rightPanelGroup);
        			
                    _tabCascadingValueBatch.CommonService = DotNetService.CommonService;
                	_tabCascadingValueBatch.HandleTabButtonOnContextMenu = null;
        			
        			foreach (var panelTab in tabList)
                    {
                        var Tab = panelTab;
                        var localTabViewModel = panelTab;
        				var ShouldDisplayCloseButton = false;
                    
                        @if (_tabCascadingValueBatch is not null)
                        {
                        	var localTabGroup = localTabViewModel.TabGroup;
                        	
                        	// localTabGroup can be null here
                        	
                            <button class="@GetCssClass(localTabGroup, localTabViewModel)"
                                    title="@localTabViewModel.TitleVerbose"
                            		@key="panelTab.Key"
                            		@onclick="e => OnClick(localTabViewModel, e)"
                                    @onmousedown="e => HandleOnMouseDownAsync(localTabViewModel, e)"
                                    @onmouseup="HandleOnMouseUp"
                                    @onmouseout="e => HandleOnMouseOutAsync(localTabViewModel, e)"
                            		@oncontextmenu:preventDefault="true"
                            		@oncontextmenu="e => ManuallyPropagateOnContextMenu(e, localTabViewModel)">
                            
                            	<span class="di_dynamic-tab-text">@localTabViewModel.Title</span>
                            
                            	@if (ShouldDisplayCloseButton)
                            	{
                            		<button class="di_button di_button-close"
                            	            @onclick:stopPropagation="true"
                            	            @onclick="() => CloseTabOnClickAsync(localTabViewModel)">
                            	        @IconCloseFragment.Render(iconDriver)
                                	</button>
                            	}
                            </button>
                        }
                    }
                }
        
                @if (panelState.DragEventArgs is not null)
                {
                    <div class="di_ide_panel-tab-dropzone di_ide_panel-tab-dropzone-top"
                         @onmouseup:stopPropagation="true"
                         @onmouseup="e => TopDropzoneOnMouseUp(_rightPanelGroupParameter.PanelGroupKey, e)">
                    </div>
                    
                    <div class="di_ide_panel-tab-dropzone di_ide_panel-tab-dropzone-bottom"
                         @onmouseup:stopPropagation="true"
                         @onmouseup="e => BottomDropzoneOnMouseUp(_rightPanelGroupParameter.PanelGroupKey, e)">
                    </div>
                }
            </div>
            
            <div class="di_ide_panel-body">
                @if (rightPanelGroup.ActiveTab is not null)
                {
                    if (rightPanelGroup.ActiveTab.ComponentType == typeof(Walk.Extensions.DotNet.DotNetSolutions.Displays.SolutionExplorerDisplay))
                    {
                        <Walk.Extensions.DotNet.DotNetSolutions.Displays.SolutionExplorerDisplay/>
                    }
                    else if (rightPanelGroup.ActiveTab.ComponentType == typeof(Walk.Ide.RazorLib.FolderExplorers.Displays.FolderExplorerDisplay))
                    {
                        <Walk.Ide.RazorLib.FolderExplorers.Displays.FolderExplorerDisplay/>
                    }
                    else if (rightPanelGroup.ActiveTab.ComponentType == typeof(Walk.Ide.RazorLib.Terminals.Displays.TerminalGroupDisplay))
                    {
                        <Walk.Ide.RazorLib.Terminals.Displays.TerminalGroupDisplay/>
                    }
                    else if (rightPanelGroup.ActiveTab.ComponentType == typeof(Walk.Extensions.DotNet.Outputs.Displays.OutputPanelDisplay))
                    {
                        <Walk.Extensions.DotNet.Outputs.Displays.OutputPanelDisplay/>
                    }
                    else
                    {
                        <DynamicComponent Type="rightPanelGroup.ActiveTab.ComponentType"
                                          Parameters="rightPanelGroup.ActiveTab.ComponentParameterMap" />
                    }
                }
            </div>
        </div>
    </div>
    @* End Body *@

    <div class="di_resize-row"
         style="@DotNetService.CommonService.Options_ResizeHandleCssHeight"
         @onmousedown="() => SubscribeToDragEvent(MainLayoutDragEventKind.BottomResizeRow)">
    </div>
    
    <div class="@GetPanelElementCssClass(_bottomPanelGroupParameter.PanelPositionCss, _bottomPanelGroupParameter.CssClassString)"
         style="@GetElementDimensionsStyleString(bottomPanelGroup)"
    	 id="@_bottomPanelGroupParameter.PanelPositionCss">
        
        <div class="di_panel-tabs"
    		 id="@_bottomPanelGroupParameter.HtmlIdTabs">
    
            @{
    			tabList = GetTabList(bottomPanelGroup);
    			
                _tabCascadingValueBatch.CommonService = DotNetService.CommonService;
            	_tabCascadingValueBatch.HandleTabButtonOnContextMenu = null;
    			
    			foreach (var panelTab in tabList)
                {
                    var Tab = panelTab;
                    var localTabViewModel = panelTab;
    				var ShouldDisplayCloseButton = false;
                
                    @if (_tabCascadingValueBatch is not null)
                    {
                    	var localTabGroup = localTabViewModel.TabGroup;
                    	
                    	// localTabGroup can be null here
                    	
                        <button class="@GetCssClass(localTabGroup, localTabViewModel)"
                                title="@localTabViewModel.TitleVerbose"
                        		@key="panelTab.Key"
                        		@onclick="e => OnClick(localTabViewModel, e)"
                                @onmousedown="e => HandleOnMouseDownAsync(localTabViewModel, e)"
                                @onmouseup="HandleOnMouseUp"
                                @onmouseout="e => HandleOnMouseOutAsync(localTabViewModel, e)"
                        		@oncontextmenu:preventDefault="true"
                        		@oncontextmenu="e => ManuallyPropagateOnContextMenu(e, localTabViewModel)">
                        
                        	<span class="di_dynamic-tab-text">@localTabViewModel.Title</span>
                        
                        	@if (ShouldDisplayCloseButton)
                        	{
                        		<button class="di_button di_button-close"
                        	            @onclick:stopPropagation="true"
                        	            @onclick="() => CloseTabOnClickAsync(localTabViewModel)">
                        	        @IconCloseFragment.Render(iconDriver)
                            	</button>
                        	}
                        </button>
                    }
                }
            }
    
            <div class="di_panel-tabs-justify-end">
                <BadgeDisplay @key="_dirtyResourceUriBadge.Key"
        	                  BadgeModel="_dirtyResourceUriBadge"/>
                <BadgeDisplay @key="_notificationBadge.Key"
        	                  BadgeModel="_notificationBadge"/>
        	</div>
            
            @if (panelState.DragEventArgs is not null)
            {
                <div class="di_ide_panel-tab-dropzone di_ide_panel-tab-dropzone-top"
                     @onmouseup:stopPropagation="true"
                     @onmouseup="e => TopDropzoneOnMouseUp(_bottomPanelGroupParameter.PanelGroupKey, e)">
                </div>
                
                <div class="di_ide_panel-tab-dropzone di_ide_panel-tab-dropzone-bottom"
                     @onmouseup:stopPropagation="true"
                     @onmouseup="e => BottomDropzoneOnMouseUp(_bottomPanelGroupParameter.PanelGroupKey, e)">
                </div>
            }
        </div>
        
        <div class="di_ide_panel-body">
            @if (bottomPanelGroup.ActiveTab is not null)
            {
                if (bottomPanelGroup.ActiveTab.ComponentType == typeof(Walk.Extensions.DotNet.DotNetSolutions.Displays.SolutionExplorerDisplay))
                {
                    <Walk.Extensions.DotNet.DotNetSolutions.Displays.SolutionExplorerDisplay/>
                }
                else if (bottomPanelGroup.ActiveTab.ComponentType == typeof(Walk.Ide.RazorLib.FolderExplorers.Displays.FolderExplorerDisplay))
                {
                    <Walk.Ide.RazorLib.FolderExplorers.Displays.FolderExplorerDisplay/>
                }
                else if (bottomPanelGroup.ActiveTab.ComponentType == typeof(Walk.Ide.RazorLib.Terminals.Displays.TerminalGroupDisplay))
                {
                    <Walk.Ide.RazorLib.Terminals.Displays.TerminalGroupDisplay/>
                }
                else if (bottomPanelGroup.ActiveTab.ComponentType == typeof(Walk.Extensions.DotNet.Outputs.Displays.OutputPanelDisplay))
                {
                    <Walk.Extensions.DotNet.Outputs.Displays.OutputPanelDisplay/>
                }
                else
                {
                    <DynamicComponent Type="bottomPanelGroup.ActiveTab.ComponentType"
                                      Parameters="bottomPanelGroup.ActiveTab.ComponentParameterMap" />
                }
            }
        </div>
    </div>
</div>
