@using Walk.Common.RazorLib
@using Walk.Common.RazorLib.Panels.Models
@using Walk.Common.RazorLib.Dimensions.Models
@using Walk.Common.RazorLib.Dropdowns.Displays
@using Walk.Common.RazorLib.Dropdowns.Models
@using Walk.Common.RazorLib.Installations.Models
@using Walk.Common.RazorLib.Menus.Displays
@using Walk.Common.RazorLib.Tabs.Displays
@using Walk.Common.RazorLib.Dialogs.Displays
@using Walk.Common.RazorLib.Widgets.Displays
@using Walk.Common.RazorLib.Notifications.Displays
@using Walk.Common.RazorLib.OutOfBoundsClicks.Displays
@using Walk.Common.RazorLib.Badges.Displays;
@using Walk.Common.RazorLib.Notifications.Models;
@using Walk.TextEditor.RazorLib.TextEditors.Displays
@using Walk.TextEditor.RazorLib.TextEditors.Displays.Internals
@using Walk.Ide.RazorLib
@using Walk.Ide.RazorLib.Shareds.Displays.Internals
@using Walk.Ide.RazorLib.Settings.Displays
@using Walk.Ide.RazorLib.Shareds.Models
@using Walk.Ide.RazorLib.BackgroundTasks.Models

@inherits LayoutComponentBase

@{
    CreateCssStrings();
}

@* ContextRecord="ContextFacts.GlobalContext" *@

<div id="@CommonFacts.RootHtmlElementId" class="@_classCssString" style="@_styleCssString">
    
    <CommonUiIsland/>
    
    @{
        var panelState = DotNetService.CommonService.GetPanelState();
        
        PanelGroup leftPanelGroup = panelState.TopLeftPanelGroup;
        PanelGroup rightPanelGroup = panelState.TopRightPanelGroup;
        PanelGroup bottomPanelGroup = panelState.BottomPanelGroup;
    
    	var appOptionsState = DotNetService.CommonService.GetAppOptionsState();
    	var iconDriver = new IconDriver(
    		appOptionsState.Options.IconSizeInPixels,
    		appOptionsState.Options.IconSizeInPixels);
    }

    @* Start Header *@
    @* ContextRecord="ContextFacts.MainLayoutHeaderContext" *@
    <div class="di_header" style="@_headerCssStyle">
        <div class="di_header-left-content">
            
            @* Start SettingsDialogEntryPoint *@
            <button class="di_button"
                    style="margin-left: 0;"
                    @onclick="DispatchRegisterDialogRecordAction">
                    
                @IconSettingsGearFragment.Render(iconDriver)
            </button>
            @* End SettingsDialogEntryPoint *@
    
            <button @onclick="RenderFileDropdownOnClick"
    			    id="@IdeState.ButtonFileId"
                    class="di_button">
                <u>F</u>ile
            </button>
    
    		<button @onclick="RenderToolsDropdownOnClick"
    			    id="@IdeState.ButtonToolsId"
                    class="di_button">
                <u>T</u>ools
            </button>
    
    		<button @onclick="RenderViewDropdownOnClick"
    			    id="@IdeState.ButtonViewId"
                    class="di_button">
    			<u>V</u>iew
             </button>
    
    		<button @onclick="RenderRunDropdownOnClick"
    			    id="@IdeState.ButtonRunId"
    				class="di_button">
                <u>R</u>un
            </button>
    
            <button class="di_button"
                    @onclick="OpenInfoDialogOnClick">
                Info
            </button>
    
            @* Start StartupControlDisplay *@
            @{
            	var localStartupControlState = DotNetService.IdeService.GetIdeStartupControlState();
            	
                StartupControlModel activeStartupControl = default;
                for (int i = 0; i < localStartupControlState.StartupControlList.Count; i++)
                {
                    if (localStartupControlState.StartupControlList[i].StartupProjectAbsolutePath.Value == localStartupControlState.ActiveStartupProjectAbsolutePathValue)
                    {
                        activeStartupControl = localStartupControlState.StartupControlList[i];
                        break;
                    }
                }
                
            	if (activeStartupControl.StartupProjectAbsolutePath.Value is null)
            	{
            		_userInterfaceSawIsExecuting = false;
            	}
            	else
            	{
            		_userInterfaceSawIsExecuting = localStartupControlState.ExecutingTerminalCommandRequest is not null;
            	}
            }
            
            <div class="di_startup-controls">
               <div class="di_startup-controls-entry">
                   <select @bind="SelectedStartupControlAbsolutePathValue"
                           title="@(activeStartupControl.StartupProjectAbsolutePath.Value ?? "Choose startup project")">
                   	<option title="Choose startup project"
               			    value="@string.Empty">
               	    	Choose startup project
               	    </option>
                   
                   	@foreach (var startupControl in localStartupControlState.StartupControlList)
                   	{
                   		<option value="@startupControl.StartupProjectAbsolutePath.Value">
                   	    	@startupControl.Title
                   	    </option>
                   	}
                   </select>
                   &nbsp;
              </div>
               <div class="di_startup-controls-entry">
                    <button @onclick="StartProgramWithoutDebuggingOnClick"
                            class="di_button"
                            id="@_startButtonElementId"
                            disabled=@(activeStartupControl.StartupProjectAbsolutePath.Value is null)
                            title="@(activeStartupControl.StartupProjectAbsolutePath.Value)">
                        
                        @if (_userInterfaceSawIsExecuting)
                        {
            				@IconStopCircleFragment.Render(iconDriver)
                        }
                        else
                        {
            				@IconStartWithoutDebuggingFragment.Render(iconDriver)
                        }
                    </button>
               </div>
            </div>
            @* End StartupControlDisplay *@
        </div>
    </div>
    @* End Header *@
    
    @* Start Body *@
    <div class="di_body"
         style="@DotNetService.CommonService.BodyElementStyle">
    
        <div class="@GetPanelElementCssClass(_leftPanelGroupParameter.PanelPositionCss, _leftPanelGroupParameter.CssClassString)"
             style="@DotNetService.CommonService.LeftPanelStyle"
        	 id="@_leftPanelGroupParameter.PanelPositionCss">
            
            <div class="di_panel-tabs"
                 style="@DotNetService.CommonService.Rotate_Options_LineHeight_CssStyle"
        		 id="@_leftPanelGroupParameter.HtmlIdTabs">
        
                @foreach (var panelTab in leftPanelGroup.TabList)
                {
                    panelTab.TabGroup = leftPanelGroup;
                    panelTab.TabCascadingValueBatch = _tabCascadingValueBatch;
                
                    <button class="@GetCssClass(panelTab)"
                            title="@panelTab.TitleVerbose"
                    		@key="panelTab.Key"
                    		@onclick="panelTab.OnClick"
                            @onmousedown="panelTab.HandleOnMouseDownAsync"
                            @onmouseup="HandleOnMouseUp"
                            @onmouseout="panelTab.HandleOnMouseOutAsync"
                    		@oncontextmenu:preventDefault="true"
                    		@oncontextmenu="panelTab.ManuallyPropagateOnContextMenu">
                    	<span class="di_dynamic-tab-text">@panelTab.Title</span>
                    </button>
                }
        
                @if (panelState.DragEventArgs is not null)
                {
                    <div class="di_panel-tab-dropzone di_panel-tab-dropzone-top"
                         @onmouseup:stopPropagation="true"
                         @onmouseup="e => TopDropzoneOnMouseUp(_leftPanelGroupParameter.PanelGroupKey, e)">
                    </div>
                    
                    <div class="di_panel-tab-dropzone di_panel-tab-dropzone-bottom"
                         @onmouseup:stopPropagation="true"
                         @onmouseup="e => BottomDropzoneOnMouseUp(_leftPanelGroupParameter.PanelGroupKey, e)">
                    </div>
                }
            </div>
            
            <div class="di_panel-body" style="@GetTopPanelBodyStyle(leftPanelGroup)">
                @if (leftPanelGroup.ActiveTab is not null)
                {
                    if (leftPanelGroup.ActiveTab.ComponentType == typeof(Walk.Extensions.DotNet.DotNetSolutions.Displays.SolutionExplorerDisplay))
                    {
                        <Walk.Extensions.DotNet.DotNetSolutions.Displays.SolutionExplorerDisplay/>
                    }
                    else if (leftPanelGroup.ActiveTab.ComponentType == typeof(Walk.Ide.RazorLib.FolderExplorers.Displays.FolderExplorerDisplay))
                    {
                        <Walk.Ide.RazorLib.FolderExplorers.Displays.FolderExplorerDisplay/>
                    }
                    else if (leftPanelGroup.ActiveTab.ComponentType == typeof(Walk.Ide.RazorLib.Terminals.Displays.TerminalGroupDisplay))
                    {
                        <Walk.Ide.RazorLib.Terminals.Displays.TerminalGroupDisplay/>
                    }
                    else if (leftPanelGroup.ActiveTab.ComponentType == typeof(Walk.Extensions.DotNet.Outputs.Displays.OutputPanelDisplay))
                    {
                        <Walk.Extensions.DotNet.Outputs.Displays.OutputPanelDisplay/>
                    }
                    else
                    {
                        <DynamicComponent Type="leftPanelGroup.ActiveTab.ComponentType"
                                          Parameters="leftPanelGroup.ActiveTab.ComponentParameterMap" />
                    }
                }
            </div>
        </div>
    
        <div class="di_resize-column"
             style="@DotNetService.CommonService.Options_ResizeHandleCssWidth"
             @onmousedown="SubscribeToDragEventTopLeft">
        </div>
    
        <div class="di_editor" style="@DotNetService.CommonService.EditorElementStyle">
            <EditorDisplay/>
        </div>
        
        <div class="di_resize-column"
             style="@DotNetService.CommonService.Options_ResizeHandleCssWidth"
             @onmousedown="SubscribeToDragEventTopRight">
        </div>
    
        <div class="@GetPanelElementCssClass(_rightPanelGroupParameter.PanelPositionCss, _rightPanelGroupParameter.CssClassString)"
             style="@DotNetService.CommonService.RightPanelStyle"
        	 id="@_rightPanelGroupParameter.PanelPositionCss">
            
            <div class="di_panel-tabs"
        		 style="@DotNetService.CommonService.Rotate_Options_LineHeight_CssStyle"
        		 id="@_rightPanelGroupParameter.HtmlIdTabs">
        
                @foreach (var panelTab in rightPanelGroup.TabList)
                {
                    panelTab.TabGroup = rightPanelGroup;
                    panelTab.TabCascadingValueBatch = _tabCascadingValueBatch;
                
                    <button class="@GetCssClass(panelTab)"
                            title="@panelTab.TitleVerbose"
                    		@key="panelTab.Key"
                    		@onclick="panelTab.OnClick"
                            @onmousedown="panelTab.HandleOnMouseDownAsync"
                            @onmouseup="HandleOnMouseUp"
                            @onmouseout="panelTab.HandleOnMouseOutAsync"
                    		@oncontextmenu:preventDefault="true"
                    		@oncontextmenu="panelTab.ManuallyPropagateOnContextMenu">
                    	<span class="di_dynamic-tab-text">@panelTab.Title</span>
                    </button>
                }
        
                @if (panelState.DragEventArgs is not null)
                {
                    <div class="di_panel-tab-dropzone di_panel-tab-dropzone-top"
                         @onmouseup:stopPropagation="true"
                         @onmouseup="e => TopDropzoneOnMouseUp(_rightPanelGroupParameter.PanelGroupKey, e)">
                    </div>
                    
                    <div class="di_panel-tab-dropzone di_panel-tab-dropzone-bottom"
                         @onmouseup:stopPropagation="true"
                         @onmouseup="e => BottomDropzoneOnMouseUp(_rightPanelGroupParameter.PanelGroupKey, e)">
                    </div>
                }
            </div>
            
            <div class="di_panel-body" style="@GetTopPanelBodyStyle(rightPanelGroup)">
                @if (rightPanelGroup.ActiveTab is not null)
                {
                    if (rightPanelGroup.ActiveTab.ComponentType == typeof(Walk.Extensions.DotNet.DotNetSolutions.Displays.SolutionExplorerDisplay))
                    {
                        <Walk.Extensions.DotNet.DotNetSolutions.Displays.SolutionExplorerDisplay/>
                    }
                    else if (rightPanelGroup.ActiveTab.ComponentType == typeof(Walk.Ide.RazorLib.FolderExplorers.Displays.FolderExplorerDisplay))
                    {
                        <Walk.Ide.RazorLib.FolderExplorers.Displays.FolderExplorerDisplay/>
                    }
                    else if (rightPanelGroup.ActiveTab.ComponentType == typeof(Walk.Ide.RazorLib.Terminals.Displays.TerminalGroupDisplay))
                    {
                        <Walk.Ide.RazorLib.Terminals.Displays.TerminalGroupDisplay/>
                    }
                    else if (rightPanelGroup.ActiveTab.ComponentType == typeof(Walk.Extensions.DotNet.Outputs.Displays.OutputPanelDisplay))
                    {
                        <Walk.Extensions.DotNet.Outputs.Displays.OutputPanelDisplay/>
                    }
                    else
                    {
                        <DynamicComponent Type="rightPanelGroup.ActiveTab.ComponentType"
                                          Parameters="rightPanelGroup.ActiveTab.ComponentParameterMap" />
                    }
                }
            </div>
        </div>
    </div>
    @* End Body *@

    <div class="di_resize-row"
         style="@DotNetService.CommonService.Options_ResizeHandleCssHeight"
         @onmousedown="SubscribeToDragEventBottom">
    </div>
    
    <div class="@GetPanelElementCssClass(_bottomPanelGroupParameter.PanelPositionCss, _bottomPanelGroupParameter.CssClassString)"
         style="@DotNetService.CommonService.BottomPanelStyle"
    	 id="@_bottomPanelGroupParameter.PanelPositionCss">
        
        <div class="di_panel-tabs"
    		 style="@DotNetService.CommonService.Options_LineHeight_CssStyle"
    		 id="@_bottomPanelGroupParameter.HtmlIdTabs">
    
            @foreach (var panelTab in bottomPanelGroup.TabList)
            {
                panelTab.TabGroup = bottomPanelGroup;
                panelTab.TabCascadingValueBatch = _tabCascadingValueBatch;
            
                <button class="@GetCssClass(panelTab)"
                        title="@panelTab.TitleVerbose"
                		@key="panelTab.Key"
                		@onclick="panelTab.OnClick"
                        @onmousedown="panelTab.HandleOnMouseDownAsync"
                        @onmouseup="HandleOnMouseUp"
                        @onmouseout="panelTab.HandleOnMouseOutAsync"
                		@oncontextmenu:preventDefault="true"
                		@oncontextmenu="panelTab.ManuallyPropagateOnContextMenu">
                	<span class="di_dynamic-tab-text">@panelTab.Title</span>
                </button>
            }
    
            <MultiBadgeDisplay/>
            
            @if (panelState.DragEventArgs is not null)
            {
                <div class="di_panel-tab-dropzone di_panel-tab-dropzone-top"
                     @onmouseup:stopPropagation="true"
                     @onmouseup="e => TopDropzoneOnMouseUp(_bottomPanelGroupParameter.PanelGroupKey, e)">
                </div>
                
                <div class="di_panel-tab-dropzone di_panel-tab-dropzone-bottom"
                     @onmouseup:stopPropagation="true"
                     @onmouseup="e => BottomDropzoneOnMouseUp(_bottomPanelGroupParameter.PanelGroupKey, e)">
                </div>
            }
        </div>
        
        <div class="di_panel-body" style="@GetBottomPanelBodyStyle(bottomPanelGroup)">
            @if (bottomPanelGroup.ActiveTab is not null)
            {
                if (bottomPanelGroup.ActiveTab.ComponentType == typeof(Walk.Extensions.DotNet.DotNetSolutions.Displays.SolutionExplorerDisplay))
                {
                    <Walk.Extensions.DotNet.DotNetSolutions.Displays.SolutionExplorerDisplay/>
                }
                else if (bottomPanelGroup.ActiveTab.ComponentType == typeof(Walk.Ide.RazorLib.FolderExplorers.Displays.FolderExplorerDisplay))
                {
                    <Walk.Ide.RazorLib.FolderExplorers.Displays.FolderExplorerDisplay/>
                }
                else if (bottomPanelGroup.ActiveTab.ComponentType == typeof(Walk.Ide.RazorLib.Terminals.Displays.TerminalGroupDisplay))
                {
                    <Walk.Ide.RazorLib.Terminals.Displays.TerminalGroupDisplay/>
                }
                else if (bottomPanelGroup.ActiveTab.ComponentType == typeof(Walk.Extensions.DotNet.Outputs.Displays.OutputPanelDisplay))
                {
                    <Walk.Extensions.DotNet.Outputs.Displays.OutputPanelDisplay/>
                }
                else
                {
                    <DynamicComponent Type="bottomPanelGroup.ActiveTab.ComponentType"
                                      Parameters="bottomPanelGroup.ActiveTab.ComponentParameterMap" />
                }
            }
        </div>
    </div>
</div>
