@using Walk.Common.RazorLib;
@using Walk.Common.RazorLib.Themes.Models;

<select @onchange="SelectedThemeChanged"
        class="di_select di_te_text-editor-input-theme @InputViewModel.CssClass"
	   style="@InputViewModel.CssStyle">
    @{
        var themesList = CommonService.GetThemeState().ThemeList;

        var chosenThemeKey = TextEditorService.Options_GetTextEditorOptionsState().Options.CommonOptions?.ThemeKey
            ?? CommonFacts.VisualStudioDarkThemeClone.Key;
        
        foreach (var theme in themesList)
        {
            <option value="@theme.Key.ToString()"
                    selected="@(chosenThemeKey == theme.Key)">
                @theme.DisplayName
            </option>
        }
    }
</select>
