@using Walk.Ide.RazorLib.Terminals.Displays

<div class="di_ide_development" style="padding: 50px;">

    <h3>IdeDevelopmentDisplay</h3>
    <hr/>

    @{
        var projectKindList = Enum.GetValues<ProjectKind>();
        var projectComponentTypeList = GetProjectComponentTypeList(_projectKind);
    }

    @foreach (var projectKind in projectKindList)
    {
        <button class="di_ide_development-project-kind di_button @GetIsActiveCssClass(projectKind)"
                @onclick="() => SetProjectKindOnClick(projectKind)">
            @projectKind
        </button>
    }

    <hr/>

    @foreach (var type in projectComponentTypeList)
    {
        var isActive = _projectComponentType == type;
        var isActiveCssClass = isActive ? "di_active" : string.Empty;

        <ErrorBoundary Context="e">
            <ChildContent>
                <button class="di_ide_development-project-component di_button @isActiveCssClass"
                        title="@type.FullName"
                        @onclick="() => SetProjectComponentTypeOnClick(type)">
                    @type.Name
                </button>

                @if (isActive)
                {
                    <DynamicComponent Type="type"/>
                }
            </ChildContent>
            <ErrorContent>
                <div>@type.Name errored</div>
                <div>@e.ToString()</div>
            </ErrorContent>
        </ErrorBoundary>
    }
</div>
