@using Walk.Common.RazorLib
@using Walk.Common.RazorLib.Installations.Displays
@using Walk.Common.RazorLib.Panels.Displays
@using Walk.Common.RazorLib.Panels.Models
@using Walk.Common.RazorLib.Resizes.Displays
@using Walk.Common.RazorLib.Dimensions.Models
@using Walk.Common.RazorLib.Dropdowns.Displays
@using Walk.Common.RazorLib.Dropdowns.Models
@using Walk.Common.RazorLib.Installations.Models
@using Walk.Common.RazorLib.Menus.Displays
@using Walk.TextEditor.RazorLib.Installations.Displays
@using Walk.Ide.RazorLib.Editors.Displays
@using Walk.Ide.RazorLib.Shareds.Displays.Internals
@using Walk.Ide.RazorLib.Settings.Displays
@using Walk.Ide.RazorLib.Shareds.Models

@inherits LayoutComponentBase

@{
    CreateCssStrings();
}

@* ContextRecord="ContextFacts.GlobalContext" *@

<div id="@CommonFacts.RootHtmlElementId" class="@_classCssString" style="@_styleCssString">
    <Walk.Common.RazorLib.Drags.Displays.DragInitializer />
    <WalkCommonInitializer />
    <WalkTextEditorInitializer />

    @* Start Header *@
    @* ContextRecord="ContextFacts.MainLayoutHeaderContext" *@
    <div class="di_ide_header" style="@_headerCssStyle">
        <div class="di_ide_header-left-content"
             style="display: flex;">
            
            @* Start SettingsDialogEntryPoint *@
            <button class="di_button"
                    @onclick="async () => DispatchRegisterDialogRecordAction()">
                    
                @{
                	var appOptionsState = IdeService.CommonService.GetAppOptionsState();
                
                	var iconDriver = new IconDriver(
            			appOptionsState.Options.IconSizeInPixels,
            			appOptionsState.Options.IconSizeInPixels);
                }
                @IconSettingsGearFragment.Render(iconDriver)
            </button>
            @* End SettingsDialogEntryPoint *@
    
            <button @onclick="RenderFileDropdownOnClick"
    			    id="@IdeState.ButtonFileId"
                    class="di_button"
                    style="margin-left: 15px;">
                <u>F</u>ile
            </button>
    
    		<button @onclick="RenderToolsDropdownOnClick"
    			    id="@IdeState.ButtonToolsId"
                    class="di_button"
                    style="margin-left: 15px;">
                <u>T</u>ools
            </button>
    
    		<button @onclick="RenderViewDropdownOnClick"
    			    id="@IdeState.ButtonViewId"
                    class="di_button"
                    style="margin-left: 15px;">
    			<u>V</u>iew
             </button>
    
    		<button @onclick="RenderRunDropdownOnClick"
    			    id="@IdeState.ButtonRunId"
    				class="di_button"
                    style="margin-left: 15px;">
                <u>R</u>un
            </button>
    
            <button class="di_button"
                    style="margin-left: 15px;"
                    @onclick="OpenInfoDialogOnClick">
                Info
            </button>
    
            <StartupControlDisplay/>
        </div>
    </div>
    @* End Header *@
    
    @* Start Body *@
    @{ var panelState = IdeService.CommonService.GetPanelState(); }
    
    <div class="di_ide_body"
         style="@_bodyElementDimensions.GetStyleString(IdeService.CommonService.UiStringBuilder)">
    
        <PanelGroupDisplay PanelGroupParameter="_leftPanelGroupParameter"/>
    
        <ResizableColumn ResizableColumnParameter="_topLeftResizableColumnParameter" />
    
        <EditorDisplay EditorElementDimensions="_editorElementDimensions" />
        
        <ResizableColumn ResizableColumnParameter="_topRightResizableColumnParameter" />
    
        <PanelGroupDisplay PanelGroupParameter="_rightPanelGroupParameter"/>
    </div>
    @* End Body *@

    <ResizableRow ResizableRowParameter="_resizableRowParameter" />
    
    <PanelGroupDisplay PanelGroupParameter="_bottomPanelGroupParameter"/>
</div>
