@using Walk.Common.RazorLib.Resizes.Displays
@using Walk.Common.RazorLib.FileSystems.Models
@using Walk.Common.RazorLib.Dropdowns.Displays
@using Walk.Common.RazorLib.Dropdowns.Models
@using Walk.Common.RazorLib.TreeViews.Displays

<div class="di_ide_input-file-display">
    @{
        var inputFileState = IdeService.GetInputFileState();
    }
    
    @{
    	var appOptionsState = IdeService.CommonService.GetAppOptionsState();
    
    	var iconDriver = new IconDriver(
    		appOptionsState.Options.IconSizeInPixels,
    		appOptionsState.Options.IconSizeInPixels);
    }
    
    <div class="di_ide_input-file-display-body">
        <TreeViewContainerDisplay TreeViewContainerParameter="InputFileSidebar_treeViewContainerParameter"/>
    </div>
    
    <div class="di_ide_input-file-display-bottom-controls">
        <div class="di_ide_input-file-display-bottom-controls-text-input">
            <div>
                @GetSelectedTreeViewModelAbsolutePathString(inputFileState)    
            </div>
            <div>
                (@inputFileState.Message)    
            </div>
        </div>
        <div class="di_ide_input-file-display-bottom-controls-non-text">
            <div>
                <select @onchange="SelectInputFilePatternOnChange">
                    @foreach (var inputFilePattern in inputFileState.InputFilePatternsList)
                    {
                        <option value="@inputFilePattern.PatternName"
                                selected="@GetInputFilePatternIsSelected(inputFilePattern, inputFileState)">
                            @inputFilePattern.PatternName
                        </option>
                    }
                </select>
            </div>
            <div style="display: flex;">
                <button class="di_button"
                        disabled=@OnAfterSubmitIsDisabled()
                        @onclick="FireOnAfterSubmit">
                    Select
                </button>
                
                <button class="di_button"
                        @onclick="CancelOnClick">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>