@using Walk.Common.RazorLib.Dimensions;
@using Walk.Common.RazorLib.Dimensions.Models;

<div class="di_tree-view">
    @if (!TreeViewNodeParameter.TreeViewNoType.IsHidden)
    {
        <div id="@IsActiveId"
             class="@GetNodeElementCssClass()"
             style="@TreeViewNodeParameter.RenderBatch.CommonService.TreeView_GetNodeElementStyle(OffsetInPixels)"
             tabindex="-1"
             @onclick:stopPropagation="true"
             @onclick="HandleOnClick"
             @ondblclick:stopPropagation="true"
             @ondblclick="HandleOnDoubleClick"
             @onmousedown:stopPropagation="true"
             @onmousedown="HandleOnMouseDown"
             @oncontextmenu:preventDefault="true"
             @oncontextmenu:stopPropagation="true"
             @oncontextmenu="e => ManuallyPropagateOnContextMenu(e, TreeViewNodeParameter.RenderBatch.TreeViewContainer, TreeViewNodeParameter.TreeViewNoType)"
             @onkeydown="e => HandleOnKeyDown(e)"
             @ref="_treeViewTitleElementReference">

            <div class="@GetNodeChevronCssClass()"
                 @onclick:stopPropagation="TreeViewNodeParameter.TreeViewNoType.IsExpandable"
                 @onmousedown:stopPropagation="TreeViewNodeParameter.TreeViewNoType.IsExpandable"
                 @onmousedown="_ => HandleExpansionChevronOnMouseDown(TreeViewNodeParameter.TreeViewNoType)">
                 
                @{
                	var appOptionsState = TreeViewNodeParameter.RenderBatch.CommonService.GetAppOptionsState();
                
                	var iconDriver = new IconDriver(
						appOptionsState.Options.IconSizeInPixels,
						appOptionsState.Options.IconSizeInPixels);
                }

                @if (TreeViewNodeParameter.TreeViewNoType.IsExpandable)
                {
                    if (TreeViewNodeParameter.TreeViewNoType.IsExpanded)
                    {
                        @IconChevronDownFragment.Render(iconDriver)
                    }
                    else
                    {
                        @IconChevronRightFragment.Render(iconDriver)
                    }
                }
                else
                {
                    @IconBlankFragment.Render(iconDriver)
                }
            </div>

            <div class="@TreeViewNodeParameter.TreeViewNoType.GetDisplayTextCssClass()"
                 style="@TreeViewNodeParameter.RenderBatch.CommonService.TreeView_GetNodeTextStyle(TreeViewNodeParameter.RenderBatch.WalkTreeViewIconWidth)"
                 title="@TreeViewNodeParameter.TreeViewNoType.GetHoverText()">
                
                @TreeViewNodeParameter.TreeViewNoType.GetIcon(iconDriver)
                
                @TreeViewNodeParameter.TreeViewNoType.GetDisplayText()
            </div>
        </div>
    }

    @if (TreeViewNodeParameter.TreeViewNoType.IsExpanded)
    {
        <div class="di_tree-view-children">
            
            @{ var childList = TreeViewNodeParameter.TreeViewNoType.ChildList.ToArray(); }

            @foreach (var child in childList)
            {
                <TreeViewNodeDisplay TreeViewNodeParameter="new Walk.Common.RazorLib.TreeViews.Models.TreeViewNodeParameter(
                    child,
                    TreeViewNodeParameter.Depth + 1,
                    TreeViewNodeParameter.RenderBatch)"/>
            }
        
            @if (!TreeViewNodeParameter.TreeViewNoType.IsHidden)
            {
                <div style="@TreeViewNodeParameter.RenderBatch.CommonService.TreeView_GetNodeBorderStyle(OffsetInPixels, TreeViewNodeParameter.RenderBatch.WalkTreeViewIconWidth)"
                     class="di_tree-view-children-border">
                </div>
            }
        </div>
    }
</div>