@using Walk.Common.RazorLib.Menus.Models;

<div id="@_htmlId" class="di_menu-display" tabindex="0">
    @{
        _horizontalRuleElementIndexHashSet.Clear();
    
        var menuOptionsGroupedByKindList = Menu.MenuOptionList
            .GroupBy(x => x.MenuOptionKind)
            .SelectMany(x => x);
    
        var previousKind = menuOptionsGroupedByKindList.FirstOrDefault()?.MenuOptionKind ?? Walk.Common.RazorLib.Menus.Models.MenuOptionKind.Create;
        
        var appOptionsState = CommonService.GetAppOptionsState();
    
    	var iconDriver = new IconDriver(
			appOptionsState.Options.IconSizeInPixels,
			appOptionsState.Options.IconSizeInPixels);
    }
    
    @for (var i = 0; i < Menu.MenuOptionList.Count; i++)
    {
        var menuOption = Menu.MenuOptionList[i];
        
        var cssClass = _activeIndex == i
            ? "di_menu-option-display di_unselectable di_active"
            : "di_menu-option-display di_unselectable";

        if (previousKind != menuOption.MenuOptionKind)
        {
            previousKind = menuOption.MenuOptionKind;
            <hr class="di_hr"/>
            _horizontalRuleElementIndexHashSet.Add(i);
        }
        
        <div class="@cssClass" style="@_lineHeightCssStyle">
            
            @if (Menu.UseIcons)
            {
                <div class="di_menu-option-icon">
                    @switch (menuOption.IconKind)
                    {
                        case AutocompleteEntryKind.Word:
                            @IconSymbolKeyFragment.Render(iconDriver)
                            break;
                        case AutocompleteEntryKind.Snippet:
                            @IconNoteFragment.Render(iconDriver)
                            break;
                        case AutocompleteEntryKind.Variable:
                            @IconSymbolFieldFragment.Render(iconDriver)
                            break;
                        case AutocompleteEntryKind.Function:
                            @IconSymbolMethodFragment.Render(iconDriver)
                            break;
                        case AutocompleteEntryKind.Type:
                            @IconSymbolClassFragment.Render(iconDriver)
                            break;
                        case AutocompleteEntryKind.Namespace:
                            @IconSymbolNamespaceFragment.Render(iconDriver)
                            break;
                    }
                </div>
            }
            
            @menuOption.DisplayName
            
            @if (menuOption.SubMenu is not null)
            {
                @IconChevronRightFragment.Render(iconDriver)
            }
        </div>
        
        @if (i == _indexMenuOptionShouldDisplayWidget)
        {
            <CascadingValue Value="MenuOptionCallbacks">
                <div class="di_menu-option-widget"
                     style="@_widgetHeightCssStyle"
                     @onclick:stopPropagation="true"
                     @ondblclick:stopPropagation="true"
                     @onmousedown:stopPropagation="true"
                     @onkeydown:stopPropagation="true"
                     @onkeydownwithpreventscroll:stopPropagation="true"
                     @oncontextmenu:stopPropagation="true">
        
                    <DynamicComponent Type="menuOption.WidgetRendererType"
                                      Parameters="menuOption.WidgetParameterMap"/>
                </div>
            </CascadingValue>
        }
    }
</div>