@using Walk.Common.RazorLib
@using Walk.Common.RazorLib.FileSystems.Models
@using Walk.TextEditor.RazorLib.TextEditors.Models
@using Walk.Ide.RazorLib.FileSystems.Models

@code {
	public static RenderFragment<(IconDriver IconDriver, AbsolutePath AbsolutePath)> GetRenderFragment = tuple => 
	@<span class="di_ide_solution-explorer-icon-display">
    @if (tuple.AbsolutePath.IsDirectory)
    {
        if (tuple.AbsolutePath.Name == IdeFacts.Properties)
        {
            @IconPropertiesFragment.Render(tuple.IconDriver)
        }
        else if (tuple.AbsolutePath.Name == IdeFacts.WwwRoot)
        {
            @IconWwwRootFragment.Render(tuple.IconDriver)
        }
        else
        {
        	@IconFolderFragment.Render(tuple.IconDriver)
        }
    }
    else
    {
        if (tuple.AbsolutePath.Name.EndsWith(ExtensionNoPeriodFacts.DOT_NET_SOLUTION))
        {
            @IconDotNetSolutionFragment.Render(tuple.IconDriver)
        }
		if (tuple.AbsolutePath.Name.EndsWith(ExtensionNoPeriodFacts.DOT_NET_SOLUTION_X))
        {
            @IconDotNetSolutionFragment.Render(tuple.IconDriver)
        }
        if (tuple.AbsolutePath.Name.EndsWith(ExtensionNoPeriodFacts.C_SHARP_PROJECT))
        {
            @IconCSharpProjectFragment.Render(tuple.IconDriver)
        }
        if (tuple.AbsolutePath.Name.EndsWith(ExtensionNoPeriodFacts.C_SHARP_CLASS) ||
            tuple.AbsolutePath.Name.EndsWith(ExtensionNoPeriodFacts.RAZOR_CODEBEHIND))
        {
            @IconCSharpClassFragment.Render(tuple.IconDriver)
        }
        if (tuple.AbsolutePath.Name.EndsWith(ExtensionNoPeriodFacts.CSHTML_CLASS))
        {
            @IconCshtmlFragment.Render(tuple.IconDriver)
        }
        if (tuple.AbsolutePath.Name.EndsWith(ExtensionNoPeriodFacts.RAZOR_MARKUP))
        {
            @IconRazorFragment.Render(tuple.IconDriver)
        }
        if (tuple.AbsolutePath.Name.EndsWith(ExtensionNoPeriodFacts.JSON))
        {
            @IconJsonFragment.Render(tuple.IconDriver)
        }
        if (tuple.AbsolutePath.Name.EndsWith(ExtensionNoPeriodFacts.CSS))
        {
            @IconCssFragment.Render(tuple.IconDriver)
        }
        if (tuple.AbsolutePath.Name.EndsWith(ExtensionNoPeriodFacts.JAVA_SCRIPT))
        {
            @IconJsFragment.Render(tuple.IconDriver)
        }
        if (tuple.AbsolutePath.Name.EndsWith(ExtensionNoPeriodFacts.TYPE_SCRIPT))
        {
            @IconTsFragment.Render(tuple.IconDriver)
        }
        else
        {
            @IconFileFragment.Render(tuple.IconDriver)
        }
    }
</span>;
}